.footer {
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-divider;
    margin-top: 25px;
    margin-left: 1%;
    padding-top: 50px;
    padding-bottom: 40px;
    border-radius: 6px;
    &__text {
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        color: $font-color;    
    }
}