
@mixin for-tablet-portrait-up {
    @media (max-width: 768px) { @content; }
}

@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-row() {
    display: flex;
    flex-direction: row;
}

@mixin flex-col() {
    display: flex;
    flex-direction: column;
}

@mixin large-bead() {
    background: black;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    margin: 0;
    background: radial-gradient(circle at 12px 12px, $bead-background, #000);
}

@mixin large-bead-highlight() {
    @include large-bead();
    background: radial-gradient(circle at 12px 12px, $bead-highlight, #000);
}

@mixin large-link() {
    height: 60px;
    width: 10px;
    background-color: black;
    border-radius: 20%;
}

@mixin regular-bead() {
    background: black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 0;
    background: radial-gradient(circle at 10px 10px, $bead-background, #000);
}

@mixin regular-bead-highlight() {
    @include regular-bead();
    background: radial-gradient(circle at 10px 10px, $bead-highlight, #000);
}

@mixin regular-link() {
    height: 16px;
    width: 10px;
    background-color: black;
    border-radius: 20%;
}

  // Font based Mixins
@mixin mobile-h1($font-weight:bold) {
    font-size: $m-h1-header;
    line-height: $m-h1-header-lh;
    font-weight: $font-weight;
}

@mixin mobile-h2($font-weight:bold) {
    font-size: $m-h2-subheader;
    line-height: $m-h2-subheader-lh;
    font-weight: $font-weight;
}

@mixin mobile-p() {
    font-size: $m-h4-p;
    line-height: $m-h4-p-lh;
}

@mixin mobile-h4-list-contact($font-weight:normal) {
    font-size: $m-h4-list-contact;
    line-height: $m-h4-list-contact-lh;
    font-weight: $font-weight;
}

@mixin mobile-h5-label($color-text:$color-paragraph-text) {
    font-size: $m-h5-label;
    line-height: $m-h5-label-lh;
    color: $color-text;
}

@mixin tablap-h1-hero () {
    font-size: $dt-h1-hero-header;
    line-height: $dt-h1-hero-header-lh;
}

@mixin tablap-h1() {
    font-size: $dt-h1-header;
    line-height: $dt-h1-header-lh;
}

@mixin tablap-h2($font-weight:500) {
    font-size: $dt-h2-header;
    line-height: $dt-h2-header-lh;
    font-weight: $font-weight;
}

@mixin tablap-h3($font-weight:500) {
    font-size: $dt-h3-Subheader;
    line-height: $dt-h3-Subheader-lh;
    font-weight: $font-weight;
}

@mixin tablap-p-comments() {
    font-size: $dt-h4-p-comments;
    line-height: $dt-h4-p-comments-lh;
}

@mixin tablap-h5-label() {
    font-size: $dt-h5-label;
    line-height: $dt-h5-label-lh;
}
