.mysterydetaillist {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin-top: 2%;
    margin-left: 1%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 6px;
    background-color: $rosary-background;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.12), 4px 4px 8px rgba(0, 0, 0, 0.24);

}