.mysterydetail {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
    &__detail {
        display:flex;
        flex-direction: column;
    }
    &__title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
        color: $color-text-offset;
        &-text {
            @include mobile-h1;
            width: 100%;
        }
    }
    &__subtitle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        color: $color-text-offset;
        &-text {
            @include mobile-h2;
            font-style: italic;
            width: 100%;
        }
    }
    &__image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        margin-top: .5vh;
    }
    &-image {
        width: 100%;
        height: 100%;
        margin-left: 1px;
        padding-bottom: 12px;
        padding-left: 1px;
        object-fit: cover;
        border-radius: 4px;
    }
    &__details {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // text-align: center;
        color: $color-text-offset;
        &-text {
            @include mobile-h3;
            width: 100%;
            margin-bottom: 10px;
        }
    }
}