.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.6s;
	border-bottom: 1px solid $color-divider;
}

.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // min-height: 8vh;
    min-height: 2.875rem;
    background-color: #2C5A88;
    @include for-tablet-portrait-up {
        flex-direction: column;
        align-items: flex-start;
    }
    &__logo {
        font-size: 1.75rem;
        font-family: 'Lobster', cursive;
        font-weight: 400;
        padding-top: .25rem;
        padding-left: 1rem;
        &--link {
            color: white;
            text-decoration: none;
        }
    }
    &__links {
        position: sticky;
        display: flex;
        top: 0;
        width: 27rem;
        height: 100%;
        @include for-tablet-portrait-up {
            display: none;
            width: 100%;
            flex-direction: column;
        }
        &-link {
            display: block;
            padding: .9rem;
            color: $color-divider;
            text-decoration: none;
            letter-spacing: 3px;
            font-size: 12px;
            font-weight: 600;
            @include for-tablet-portrait-up {
                text-align: center;
                padding: .3rem 0 .4rem 0;
            }
            &:hover {
                color: $color-nav-link-hero;
            }
        }
        & li {
            list-style: none;
            @include for-tablet-portrait-up {
                text-align: center;
            }
        }
    }
    &__burger {
        position: absolute;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        top: .5rem;
        right: .5rem;
        width: 28px;
        height: 28px;
        cursor: pointer;
        @include for-tablet-portrait-up {
            display: block;
            margin-right: .75rem;
        }
    }
    &__burger div {
        background-color: $color-divider;
        width: 25px;
        height: 3px;
        margin: 5px;
        border-radius: 10px;
    }
}

.nav-active {
    display: flex;
    margin: 0;
    color: white;
}