@import './range';

.rosary {
    display: flex;
    @include flex-col;
    &__main {
        @include flex-row;
        height: 29rem;
        margin-top: 2.875rem;
        border-top: 1px #cecece solid;
        border-bottom: 1px #cecece solid;
        &-left {
            @include flex-col;
            width: 12.5vw;
            background-color: $rosary-background;
        }
        &-middle {
            @include flex-col;
            width: 80%;
        }
        &-right {
            @include flex-col;
            width: 12.5vw;
            background-color: $rosary-background;
        }
    }
}

input {
    background-color: $rosary-background;
}

.background {
    position: relative;
    @include flex-center;
    height: 29rem;
    width: 100%;
    background-image: url('../../assets/images/marian-image-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
    opacity: .9;
    transition: all 1s;
    &::before {
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(44, 90, 136, .5);
    }
}

.prayers {
    position: absolute;
    @include flex-center;
    flex-direction: column;
    height: 29rem;
    width: 100%;
    padding: .5rem;
    z-index: 1;
    &__title {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 70px;
        text-align: center;
        @include tablap-h2;
        font-weight: 900;
        color: #FBE800;
        // border: 1px solid black;
    }
    &__subtitle {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 46px;
        top: 16px;
        font-weight: 900;
        color: #FBE800;
        // border: 1px solid black;
        &-1 {
            width: 15%;
            @include tablap-h1;
            // border: 1px solid black;
        }
        &-2 {
            display: flex;
            flex-direction: column;
            height: 70px;
            width: 85%;
            @include mobile-h2;        
            color: #FFFFFF;
            // border: 1px solid black;
            &-1 {
                width: 100%;
                // border: 1px solid black;
            }
            &-2 {
                width: 100%;
                color: #FBE800;
                // border: 1px solid black;
            }
        }
    }
    &__subtitle-mystery {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 32px;
        top: 42px;
        font-weight: 900;
        color: #FBE800;
        // border: 1px solid black;
        &-1 {
            width: 10%;
            @include tablap-h1;
            justify-content: center;
            align-self: center;
            color: #FFFFFF;
            // border: 1px solid black;
        }
        &-2 {
            width: 90%;
            @include mobile-h2;
            justify-content: center;
            align-self: center;
            text-align: center;
            padding-right: 12px;
            // border: 1px solid black;
        }
    }
    &__text {
        position: relative;
        top: 46px;
        text-align: center;
        height: 280px;
        width: 100%; //240px;
        @include mobile-h1;
        font-weight: 900;
        color: white;
        // border: 1px solid black;
    }
}

span { 
    opacity: 1; 
    transition: all 0.5s; 
}
span.hide { 
    opacity: 0; 
}

.pad {
    height: .5rem;
    width: 12.5vw;
}

.mystery {
    @include flex-center;
    height:36px;
    &__bead {
        @include large-bead;
    }
    &__bead--highlight {
        @include large-bead-highlight;
    }
}

.charity-mystery {
    @include flex-center;
    height:60px;
    &__link {
        @include large-link;
    }
}

.charity {
    @include flex-center;
    height:30px;
    &__bead {
        @include regular-bead;
    }
    &__bead--highlight {
        @include regular-bead-highlight;
    }
}

.hope-charity {
    @include flex-center;
    height:16px;
    &__link {
        @include regular-link;
    }
}

.hope {
    @include flex-center;
    height:30px;
    &__bead {
        @include regular-bead;
    }
    &__bead--highlight {
        @include regular-bead-highlight;
    }
}

.faith-hope {
    @include flex-center;
    height:16px;
    &__link {
        @include regular-link;
    }
}

.faith {
    @include flex-center;
    height:30px;
    &__bead {
        @include regular-bead;
    }
    &__bead--highlight {
        @include regular-bead-highlight;
    }
}

.of-fatima-hhq-faith {
    @include flex-center;
    height:60px;
    &__link {
        @include large-link;
    }
}

.of-fatima-hhq {
    @include flex-center;
    height:36px;
    &__bead {
        @include large-bead;    
    }
    &__bead--highlight {
        @include large-bead-highlight;
    }
}

.crucifix {
    @include flex-center;
    width: 2.5rem;
    height: 8rem;
    &__image {
        position: relative;
        text-align: center;
        width: 2.5rem;
        height: 8rem;
        // background-image: url('../../assets/images/cross-animated-gif-60.gif');
        background-image: url('../../assets/images/roman-catholic-cross.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
            // &::before,&::after {
        //     position: absolute;
        //     background-color: #7b7b7b;
        //     //border: 3px solid black;
        //     //box-shadow: 3px -3px 5px #999;
        //     content: '';
        //     height: 2.30rem;
        //     width: 10px;
        //     top: -10px;
        //     left: 15px;
        //     transform: rotate(90deg);
        // }
        // &::after {
        //     width: 10px;
        //     height: 4.5rem;
        //     //box-shadow: 3px 3px 5px #999;
        //     content: '';
        //     transform: rotate(0deg);
        // }    
    }
}

.decade-bead {
    @include flex-center;
    height:30px;
    &__regular {
        @include regular-bead;
    }
    &__regular--highlight {
        @include regular-bead-highlight;
    }
}

.decade-link {
    @include flex-center;
    height:16px;
    &__regular {
        @include regular-link;
    }
}

.audio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 10;
    &__controls {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        width: 100%;
        height: 60px;
        bottom: 8px;
        background-color: $rosary-background;
    }
    &__play-container {
        //background-color: rgba(50,50,50,0.7);
        background-color: $rosary-background;
        border-radius: 4px;
        width: 44px;
        height: 42px;
        margin-top: 9px;
        margin-left: 6px;
    }
    &__play-icon {
        height: 28px;
        width: 28px;
        margin-top: 7px;
        margin-left: 12px;
    }
    &__loader-container {
        display: flex;
        //background-color: rgba(50,50,50,0.7);
        background-color: $rosary-background;
        border-radius: 4px;
        width: 52%;
        height: 38px;
        //margin-left: 8px;
        margin-right: 8px;
    }
    &__loader {
        margin-top: 9px;
        width: 60%;
        height: 38px;
    }
    &__loader-slider {
        width: 87%;
        height: 10px;
        margin-top: 16px;
        margin-left: 5px;
    }
    &__loader-time {
        display: flex;
        justify-content: flex-end;
        color: $color-text-offset;
        @include mobile-h4-list-contact;
        width: 40%;
        padding-top: 21px;
        padding-right: 4px;
        margin-left: 4px;
    }
    &__loader-lapsed, __loader-time-divider, __loader-duration {
        color: $color-text-offset;
        @include mobile-h4-list-contact;    
    }
    &__volume-container {
        display: flex;
        //background-color: rgba(50,50,50,0.7);
        background-color: $rosary-background;
        border-radius: 4px;
        width: 90px;
        height: 42px;
        margin-top: 9px;
        margin-right: 6px;
    }
    &__volume-icon {
        height: 28px;
        width: 28px;
        margin-top: 7px;
        margin-left: 6px;
        margin-right: 8px;
    }
    &__volume-slider {
        width: 42px;
    }
}